<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="essentials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Essentials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="essentials-link">
                <a href="{% url 'products' %}?category=essentials" class="dropdown-item">Essentials</a>
                <a href="{% url 'products' %}?category=care" class="dropdown-item">Care</a>
                <a href="{% url 'products' %}?category=beds" class="dropdown-item">Beds</a>
                <a href="{% url 'products' %}?category=essentials,care,beds" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="treats_toys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Treats & Toys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="treats_toys-link">
                <a href="{% url 'products' %}?category=teats" class="dropdown-item">Treats</a>
                <a href="{% url 'products' %}?category=toys" class="dropdown-item">Toys</a>
                <a href="{% url 'products' %}?category=treats,toys" class="dropdown-item">All Treats & Toys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>